@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: define a bunch of these. then you can use media seelectors for themes and dark mode! */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  margin-bottom: 0.5em;
  margin-top: 0;
}
h2,
h3 {
	margin: 0;
}
