@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: define a bunch of these. then you can use media seelectors for themes and dark mode! */
:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-hex: #fff7f2; */
  --background-hex:  #F2F2F2;
  --background-rgb: 255, 255, 255;
  --border-radius: 5px;
  --box-shadow: 1px 1px 3px #e7e7e7 !important;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  /* background-color: var(--background-hex) */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  margin-bottom: 0.5em;
  margin-top: 0;
}
h2 {
  margin: 0;
}
h3 {
	margin-bottom: 0.5em;
}
