.header {
    position: sticky;
    top: 0;
    z-index: 99999;
    padding: 0;
    padding-top: 0.5em;
    background-color: rgb(var(--background-rgb))
}

.bodyWrap {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2em;
    border-radius: var(--border-radius);
}

.link {
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}

.foot {
    margin-top: 1em;
    text-align: center;
}

@media (max-width: 768px) {
    .body {
        padding: 0;
        margin: 0;
    }
    .header {
        padding: 0;
        position: relative;
    }
    .bodyWrap {
        padding: 0;
        margin: 0;
    }
    .line {
        margin-bottom: 0;
    }
}