.bannerAd {
    width: 80%;
    height: 100px; 
    object-fit: cover;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.bannerAdContainer {
    display: flex;
    justify-content: center;
}

.loadMore {
    max-width: 300px;
    max-height: 50px;
    align-self: center;
}

@media (max-width: 768px) {
    /* .bannerAdContainer {
        position: sticky;
        top: 0;
        z-index: 99999;
    } */
    .bannerAd {
        width: 100%
    }
}