.bannerAd {
    width: 80%;
    height: 100px; 
    object-fit: cover;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    --primary-gray-rgb: 248, 242, 233;
}

.bannerRow {
    display: flex;
    flex-direction: row;
    gap: 3em;
    margin: 1em 1em 0;
    justify-content: center;
}

.bannerLeft {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    min-width: 0;
    border-radius: var(--border-radius);
    gap: 1em;
}

.bannerRight {
    display: flex;
    flex-grow: 1;
    position: relative;
    flex-direction: column;
    flex-basis: 2em;
    align-items: flex-start;
    min-width: 300px;
}

.bannerAdContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.loadMore {
    max-width: 300px;
    max-height: 50px;
    align-self: center;
}

@media (max-width: 768px) {
    .bannerRow {
        flex-direction: column;
        margin: 0 1em 0em 1em;
    }
    .bannerRight {
        display: none;
    }
    /* .bannerAdContainer {
        position: sticky;
        top: 0;
        z-index: 99999;
    } */
    .bannerAd {
        width: 100%
    }
}
