.logo {
	border-radius: var(--border-radius);
}

.mobile_logo {
	display: none;
}

.banner { 
	display: flex;
}

.search {
	display: none;
	align-self: flex-end;
	margin-left: auto;
}
.navBarContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	margin-bottom: 0.5em;
	gap: 0.5em;
}


.menu {
	font-family: futura-pt-bold, sans-serif;
	display: flex;
	flex-direction: row;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	flex-wrap: wrap;
	justify-content: center;
	font-size: larger;
	align-items: center;
}

.socials {
	margin-left: 1em;
	display: flex;
	gap: 1em; 
}

.icon {
	transition: 0.2s;
}
.icon:hover {
	fill: rgb(var(--primary-rgb));
}

.anchor {
	display: flex;
	align-items: center;
}

.menuContainer {
	width: 100%;
	margin-top: auto;
	margin-bottom: auto;
	border-top: 2px solid rgb(var(--foreground-rgb));
	border-bottom: 2px solid rgb(var(--foreground-rgb));
	position: sticky;
	top: 0;
	z-index: 99999;
}

.right {
	display: flex;
	gap: 0.5em;
}

/* select mobile devices */
/* us --mobile-breakpoint */
@media (max-width: 768px) {
	.menuContainer {
		display: none;
	}
	.mobileMenuButton {
		display: inline-block !important;
	}
	.right {
		display: none;
	}
	.search {
		display: flex;
	}
	.logo {
		display: none;
	}
	.mobile_logo {
		display: flex;
		margin-top: 1em;
	}
	.banner {
		padding: 10px 10px 0px 10px;
	}
}

.mobileMenuButton {
	display: none;
}

.menu > a {
	color: rgb(var(--foreground-rgb));
	text-decoration: none;
	text-decoration-thickness: 1px;
	text-transform: uppercase;
	padding-left: 1em;
	padding-right: 1em;
	transition: 0.2s;
}

.menu > a:hover {
	background-color: rgb(var(--foreground-rgb));;
	color: rgb(var(--background-rgb));
}
