.container {
	display: flex;
	flex-direction: row;
	gap: 3em;
	margin: 1em 1em;
}

.leftContainer {
	display: flex;
	flex-direction: column;
	padding: 1em;
	flex-grow: 2;
	/* border-radius: var(--border-radius); */
	border-radius: 2px;
	/* background-color:#e0dedc; */
	background-color: rgb(var(--primary-gray-rgb));
	gap: 1em;
	box-shadow: var(--box-shadow);
}

.rightContainer {
	display: flex;
	flex-grow: 1;
	/* position: relative; */
	gap: 2em;
	border-radius: var(--border-radius);
	flex-direction: column;
	flex-basis: 2em;
	min-width: 300px;
}

.carousel {
	display: none;
}

.ads {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

@media (max-width: 768px) {
	.container {
		flex-direction: column;
		margin: 0;
		gap: 1em;
	}
	.leftContainer {
		border-radius: 0;
		padding: 0;
	}
	.rightContainer {
		flex-direction: column-reverse;
		gap: 1em;
	}
	.ads {
		display: none
	}
	.carousel {
		display:flex;
	}
}