.parentContainer {
    height: 250px;
    width: 300px;
    margin: 2em;
    margin-top: 0;
}

.image {
    border-radius: var(--border-radius);
    object-fit: cover;
}

@media (max-width: 500px) {
    .parentContainer {
        justify-content: center;
        display: flex;
    }
}