/* @import url("https://use.typekit.net/xxb2osb.css"); */
.parentContainer {
    width:100%;
    display: flex;
    flex-direction: row;
    gap: 1em
}
.row {
	display: flex;
}
.column {
    float: left;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 1em 0;
}

.featStoryImage {
    object-fit: cover;
    border-radius: var(--border-radius);
}

.imageContainer {
    
    gap: 1em;
}
.featStory {
    text-decoration: none;
    transition: 0.2s;
}

.featStory:hover {
    color: rgb(var(--primary-rgb));
}
.title {
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 0;
    /* font-weight: 700; */
    /* padding-right: 0.7em; */
}
.byline {
    /* font-weight: 600; */
    margin: 0;
}

@media (max-width: 500px) {
    .parentContainer {
        flex-direction: column;
        gap: 0;
    }
    .featStoryImage {
        display: none;
    }
    .column {
        border-bottom: 2px black solid;
        padding: 0;
        padding-bottom: 1em;
        margin: 0 0.5em;
    }
    .title {
        font-size: larger;
    }
    .byline {
        margin-top: 1em;
        font-size: medium;
    }

    .featStory {
        transition: 0s;
    }
    .featStory:focus {
        color:#F99F20;
    }
}