.container {
	display: flex;
	flex-direction: row;
	margin-top: 1em;
	gap: 1em
}

.leftContainer {
	display: flex;
	flex-direction: column;
	padding: 1em;
	flex-grow: 2;
	border-radius: var(--border-radius);
	background-color:#dcdee0;
	gap: 1em;

}

.rightContainer {
	flex-grow: 1;
	position: relative;
	border-radius: var(--border-radius)

}

@media (max-width: 768px) {
	.container {
		flex-direction: column
	}
	.leftContainer {
		border-radius: 0;
	}
}