.parentContainer {
    height: 250px;
    width: 300px;
    /* margin: 0 0 2em 0; */
}

.image {
    /* border-radius: var(--border-radius); */
    object-fit: cover;
}

@media (max-width: 768px) {
    .parentContainer {
        justify-content: center;
        display: flex;
        margin: auto;
        margin-bottom: 1em;
    }
}