.featContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 2em;
    border-radius: var(--border-radius);
    justify-content: space-evenly;
}

.imageContainer {
    border-radius: var(--border-radius);
    object-fit: cover;
}

.mobile {
    display: none;
}

.title {
    /* margin-top: 1em; */
}

@media (max-width: 768px) {
    .mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .featContainer {
        display: none;
    }
}