
.title {
    font-weight: bold;
    color: var(--foreground-rgb);
}

.link {
    text-decoration: none;
}

.mainImage {
    border-radius: var(--border-radius);
    width: 100%;
    object-fit: cover;
}

@media (max-width: 500px) {
    .mainImage {
        height: 300px;
    }
    .link {
        border-bottom: 2px black solid;
        padding-bottom: 1em;
    }
}