@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

.title {
    margin-bottom: 0.5em;
}

.mainTitle {
    font-weight: 800;
    font-size: 32px;
    font-family: "Lora", serif;
}

.mainAuthor {
    font-weight: 400;
    font-size: 14px;
    font-family: "Lora", serif;
}

.link {
    text-decoration: none;
    transition: 0.2s;
}

.link:hover {
    color: #ff6400;
}

.mainImage {
    border-radius: var(--border-radius);
    width: 100%;
    object-fit: cover;
}

@media (max-width: 500px) {
    .mainImage {
        height: 250px;
        border-radius: 0;
    }
    .title {
        padding: 0.5em;
    }
    .link {
        border-bottom: 2px black solid;
        padding-bottom: 1em;
        transition: 0s;
    }
    .link:focus {
        color: #ff6400;
    }
}