.parentContainer {
    width: inherit;
    height: 400px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    /* border: 2px solid black; */
    position: relative
}
.title {
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
    margin-left: 20px; 
    margin-right: 20px;
}