.container {
    display: flex;
    background-color:#e0dedc;
    /* background-color:#dcdee0; */
    /* margin: 0 0 2em 0; */
    margin-top: 0;
    max-width: 300px;
    border-radius: 2px;
    justify-content: center;
    box-shadow: var(--box-shadow);
    align-self: center;
}

.newsletter {
    display: flex;
    flex-direction: column;
    margin: 1em;
    gap: 1em;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.button {
    height: 50px;
    width: 100%;
    background-color:#ff6400;
    border-style: solid;
    border-radius: var(--border-radius);
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover:enabled {
    background-color: white;
    color: #ff6400
}
.button:disabled {
    cursor: auto;
}

.input {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: var(--border-radius);
    border-style: solid;
    font-size: 16px;
    padding: 0.05em 0.5em;
}

.google {
    margin: 0;
    font-size: smaller;
    color: #808080;
}

.link {
    color:#ff6400
}
.link:hover {
    text-decoration: underline;
}

@media(max-width: 768px) {
    .container {
        /* margin-top: 2em; */
    }
}