.mobile {
    display: none;
}

.pc {
    display: flex;
    flex-direction: column;
}

.button {
    height: 2em;
    width: 3em;
}

.button:active {
    display: none;
}

@media (max-width: 768px) {
    .pc {
        display: none;
    }
    .mobile {
        display: flex;
        flex-direction: column;
    }
}