.parentContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

.imageContainer {
    border-radius: var(--border-radius);
    object-fit: cover;
    width: 90%
}

.host {
    margin-top: 0;
}

.title {
    margin-bottom: 0;
    font-weight: 900;
}