.podcastContainer {
    display: flex;
    flex-direction: row;
    flex: 1 1;
    background-color: #dcdee0;
    border-radius: var(--border-radius);
    padding: 2em;
    justify-content: center;
    gap: 2em;
    width: 75%;
    margin: auto;
    margin-top: 1em;
}

.leftContainer {

}
.rightContainer {
    flex-direction: column;

}

.imageContainer {
    object-fit: cover;
    border-radius: var(--border-radius);
}

.playButton {
    width: 100px;
    height: 50px;
    margin-right: 2em;
}

.volumeSlider {
	max-width: 10em;
}

.playPauseContainer {
    display: flex;
    align-items: center;
}