.title {
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0;
}

.byline {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: row;
	margin-top: 1em;
	gap: 1em;
	margin-bottom: 1em;  
}

.leftContainer {
	display: flex;
	flex-direction: column;
	padding: 1em;
	padding-bottom: 0;
	flex-grow: 2;
	/* flex-basis: 50%; */
	border-radius: var(--border-radius);
	/* background-color:#dcdee0; */
    background-color:#e0dedc;
	box-shadow: var(--box-shadow);
	/* gap: 1em; */

}

.rightContainer {
	flex-grow: 1;
	position: relative;
	border-radius: var(--border-radius);
	flex-basis: 2em
}

.body {
	font-size: large;
}

.imageContainer {
	border-radius: var(--border-radius);
    width: 100%;
    object-fit: cover;
}

.ads {
	display: flex;
	flex-direction: column;
	gap: 2em;
}
.mobileAds {
	display: none;
}

.gallery {
	margin-top: 0.5em;
}
@media (max-width: 768px) {
	.container {
		flex-direction: column;
	}
	.leftContainer {
		border-radius: 0px;
	}
	.ads {
		display: none;
	}
	.mobileAds {
		display: flex;
		justify-content: center;
	}
}