.title {
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0;
}

.byline {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: row;
	margin-top: 1em;
	gap: 2em;
	margin-bottom: 1em;  
	padding: 0.5em 1em;
}

.leftContainer {
	display: flex;
	flex-direction: column;
	padding: 1em;
	padding-bottom: 0;
	flex-grow: 2;
	/* flex-basis: 50%; */
	border-radius: var(--border-radius);
	/* background-color:#dcdee0; */
    background-color:#e0dedc;
	box-shadow: var(--box-shadow);
	/* gap: 1em; */

}

.map {
	width: 100%;
	display: flex;
	align-self: center;
}
.map iframe {
	margin-left: auto;
	margin-right: auto;
	align-self: center;
	width: 100%;
	height: 480px;
	max-width: 700px;
	border: 0;
	border-radius: var(--border-radius);
}

.rightContainer {
	flex-grow: 1;
	position: relative;
	border-radius: var(--border-radius);
	flex-basis: 2em
}

.body {
	font-size: large;
}

.imageContainer {
	border-radius: var(--border-radius);
    width: 100%;
    object-fit: cover;
}

.ads {
	display: flex;
	flex-direction: column;
	gap: 2em;
}
.mobileAds {
	display: none;
}

.gallery {
	margin-top: 0.5em;
}
@media (max-width: 768px) {
	.container {
		flex-direction: column;
		margin-top: 0;
		padding: 0;
		gap: 1em;
	}
	.leftContainer {
		border-radius: 0px;
	}
	.imageContainer {
		height: 250px;
	}
	.ads {
		display: none;
	}
	.mobileAds {
		display: flex;
		justify-content: center;
	}
	.map iframe {
		height: 400px;
	}
}