.row {
	display: flex;
	margin: 1em;
	position: relative
}
.row:after {
	content: "";
	display: table;
	clear: both;
	position: relative;
}
.column {
	float: left;
	position: relative;
}
.right {
	display: flex;
	flex-direction: column;
	width: 25%;
	position: relative;
}
.left {
	width: 75%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.banner {
	float: right;
	clear: both;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.container {
	display: flex;
	flex-direction: row;
	margin-top: 1em;
	gap: 1em
}

.leftContainer {
	display: flex;
	flex-direction: column;
	padding: 1em;
	flex-grow: 2;
	border-radius: var(--border-radius);
	background-color:#dcdee0;
	gap: 1em;

}

.rightContainer {
	flex-grow: 1;
	position: relative;
	border-radius: var(--border-radius)
}