/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.container {
	display: flex;
	flex-direction: row;
	/* margin-top: 1em; */
	gap: 3em;
	justify-content: center;
	margin: 1em 1em 0;
}

.leftContainer {
	display: flex;
	flex-direction: column;
	padding: 0 1em 1em;
	flex-grow: 2;
	border-radius: var(--border-radius);
	gap: 1em;
	justify-content: flex-start;
}

.rightContainer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	position: relative;
	border-radius: var(--border-radius);
	flex-basis: 2em;
	align-items: flex-start;
}

.ads {
	display: flex;
	flex-direction: column;
}
.sticky {
	position: sticky;
	top: 130px;
}

.mobileAds {
	display: none;
}

@media (max-width: 768px) {
	.container {
		flex-direction: column;
		margin: 0 1em 0em 1em;
		gap: 2em;
	}
	.ads {
		display: none;
	}
	.mobileAds {
		display: flex;
		justify-content: center;
		max-width:100%
	}
	.rightContainer {
		align-items: center;
	}
	.leftContainer {
		padding: 0;
	}
}