.storyImage {
    /* border-radius: var(--border-radius); */
    object-fit: cover
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    min-width: 0;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.leftContainer {
    display: flex;
    flex-direction: column;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    flex-basis: 2;
    min-width: 0;
    overflow: hidden;
    width: 100%;
    justify-content:space-between;
    padding-top: 1em;
    padding-bottom: 1em;
}

.title {
    margin: 0;
    /* padding: 0; */
    padding-right: 0.7em;
    margin-bottom: 0.5em;
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
}

.date {
    margin: 0;
    padding: 0;
    font-weight:400
}

.link {
    text-decoration: none;
    transition: 0.2s;
}
.link:hover {
    color: #ff6400;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        /* border-bottom: 2px solid black; */
        /* padding: 0.2em 1em 0.2em 1em; */
        gap:0.25em;
    }
    .storyImage {
        width: 100%;
        /* height: 100%  */
        height: 227px;
    }
    .leftContainer {
        align-items:center
    }
    .title {
        padding: 0;
    }
    /* .title {
        margin: 0 1em 0;
    }
    .date {
        margin: 1em 1em 0;
    } */
    .rightContainer {
        padding: 1em;
        width: auto;
    }
    .link {
        transition: 0s;
    }
    .link:focus {
        color: #ff6400
    }
}