.row {
	display: flex;
	margin-left: 20%;
	margin-right: 20%;	
	position: relative
}
.row:after {
	content: "";
	display: table;
	clear: both;
	position: relative;
}
.column {
	float: left;
	position: relative;
}
.right {
	width: 25%;
	position: relative;
}
.left {
	width: 75%;
	position: relative;
}

.banner {
	float: right;
	clear: both;
}