.parentContainer {
    width:100%;
    margin-bottom: 2em;
    gap: 1em;
    position: relative;
    /* border: 2px solid rgb(var(--foreground-rgb));; */
}
.row {
	display: flex;
	position: 'relative'
}
.column {
    float: left;
    position: relative
}
.imageContainer {
    height: 150px;
    width: 30%;
    margin-right: 20px;
    gap: 1em;
    /* border: 2px solid rgb(var(--foreground-rgb));; */
}

.storyImage {
    border-radius: var(--border-radius);
    object-fit: cover
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    min-width: 0;
    overflow: hidden;
}

.leftContainer {
    display: flex;
    flex-direction: column;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    flex: 2;
    min-width: 0;
     overflow: hidden
}

.title {
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em;
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.date {
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}
